<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Users</title>

    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #eee;
            display: flex;
            justify-content: center;
        }

        .custom-container {
            margin-top: 50px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="container custom-container">
    <div th:switch="${users}">
        <div th:if="${#lists.isEmpty(users)}">
            <h2>No users yet!</h2>
        </div>
        <div th:if="${not #lists.isEmpty(users)}">
            <h2>Users</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>
            <a href="/signup" class="btn btn-success">Add a new user</a>
        </p>
    </div>
</div>

</body>
</html>
